*{
    padding: 0;
    margin: 3px;
    /* box-sizing: border-box; */
    
}

.container{
    display: flex;
    flex-direction: row ;
    width: 70%;
    /* border: 2px solid red ; */
    justify-content: center;
    margin-inline: auto;
    /* margin-top: 100px; */
    margin-bottom: 100px;
    background-color: gainsboro;
    padding: 20px;
}
.left-container{
    width :30%;
    /* border: 2px solid blue; */
}
.contact-details ul{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    font-size: large;

}
.contact-details ul li{
    /* margin: 5px; */
    padding-bottom: 8px;
}


.card{
    background-color: #fff;
    box-shadow: 14px 14px 14px #2b3a3a;
}

img{
    width: 100%;
}
i{
    color: teal;
}


.progress-bar{
    width: 100%;
    background-color: #9eafd1;
    border-radius: 20px;
    height: 15px;
}

.progress{
    background-color:teal;
    height: 15px;
    display: flex;
    justify-content: center;
    font-size:small;
    border-radius: 20px;
}
.skills{
    padding: 5px;
}
.skills ul{
    padding: 5px;
    list-style: none;
}
.skills ul li{
    padding: 5px;
}
.skills p{
    padding-bottom: 7px;
    font-size: large;
}
.language{
    padding: 5px;
}
.language ul{
    padding: 5px;
    list-style: none;
}
.language ul li{
    padding: 5px;
}
.language p{
    padding-bottom: 7px;
    font-size: large;
}
/* right column */

.right-container
{
    width :70%;
    /* border: 2px solid red; */
    margin-left: 20px;
}

.position{
    margin: 20px;
    padding: 10px;

}
.position strong{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    padding: 10px;
    margin: 10px;
}
